[Unit]
Description=Bootcamp certificate provider
After=network.target vault.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/scripts
ExecStart=/usr/bin/gunicorn -b samba.{{domain_name}}:8000 -w 4 --threads 8 -t 120 bootcamp_webservice:app
Restart=always

[Install]
WantedBy=multi-user.target
